
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,300,600");

* {font-family: 'Open Sans', Helvetica, Arial, sans-serif; }

/*******/
/*******/
/*******/
/*******/
/*******/
/*******/

html, body {
  margin: 0;
  padding: 0;
}

h1 { font-weight: 800; }
h2, h3, h4, h5, h6 { font-weight: 600; }

.border-top {
  border-top: 1px solid black;
  margin-top: 1.5em;
  padding-top: 1.5em;
}

.navbar {
  margin-bottom: 0;
}

#hero {
  background: #eee url('/everything-is-connected.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

